<h1>Roll the Dice!</h1>
<div id="dice">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

<button id="roll-button">Roll Dice</button>

<p>
<label for="dice-color">Choose Dice Background Colour: </label>
<input type="color" id="dice-color" placeholder="Choose Dice Color"></p>

<p>
<label for="dot-color">Choose Dot Colour: </label>
<input type="color" id="dot-color" placeholder="Choose Dot Color">
</p>
