<h1>Roll the Dice!</h1>
<div id="dice">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

<button id="roll-button">Roll Dice</button>

<p>
<label for="dice-color">Choose Dice Background Color: </label>
<input type="color" id="dice-color" value="#f0f0f0">
</p>

<p>
<label for="dot-color">Choose Dot Color: </label>
<input type="color" id
</p>
